csharp/aoc2018/.idea/.idea.aoc2018/riderModule.iml
csharp/aoc2018/.idea/.idea.aoc2018/.idea/contentModel.xml
csharp/aoc2018/.idea/.idea.aoc2018/.idea/indexLayout.xml
csharp/aoc2018/.idea/.idea.aoc2018/.idea/modules.xml
csharp/aoc2018/.idea/.idea.aoc2018/.idea/workspace.xml
csharp/aoc2018/bin/Debug/netcoreapp2.1/aoc2018.deps.json
csharp/aoc2018/bin/Debug/netcoreapp2.1/aoc2018.dll
csharp/aoc2018/bin/Debug/netcoreapp2.1/aoc2018.pdb
csharp/aoc2018/bin/Debug/netcoreapp2.1/aoc2018.runtimeconfig.dev.json
csharp/aoc2018/bin/Debug/netcoreapp2.1/aoc2018.runtimeconfig.json
csharp/aoc2018/bin/Debug/netcoreapp2.1/Days/Day1/ProblemA/input.txt
csharp/aoc2018/bin/Debug/netcoreapp2.1/Days/Day1/ProblemB/input.txt
csharp/aoc2018/obj/aoc2018.csproj.nuget.cache
csharp/aoc2018/obj/aoc2018.csproj.nuget.g.props
csharp/aoc2018/obj/aoc2018.csproj.nuget.g.targets
csharp/aoc2018/obj/project.assets.json
csharp/aoc2018/obj/project.packagespec.json
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.AssemblyInfo.cs
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.AssemblyInfoInputs.cache
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.assets.cache
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.csproj.CoreCompileInputs.cache
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.csproj.FileListAbsolute.txt
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.csprojAssemblyReference.cache
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.dll
csharp/aoc2018/obj/Debug/netcoreapp2.1/aoc2018.pdb
